<div class="container" id="home-container">
  <div class="text-center text-black">
    <div class="container">
      <h1 class="display-4">Przybij Lape</h1> <br />
      <div class="row">
        <div class="col">
              <p class="lead"><img src="https://static.wixstatic.com/media/1a5b8a_ba35a95991e54ad1afcd5eed82d39cbe~mv2_d_1511_2015_s_2.jpg/v1/fill/w_595,h_794,al_c,q_85,usm_0.66_1.00_0.01/30167181_583487598681135_608079252483447.webp" alt="30167181_583487598681135_608079252483447" style="width:595px;height:700px;object-fit:cover;object-position:50% 50%"></p>
        </div>
        <div class="col">
          <p class="lead"><img src="https://static.wixstatic.com/media/1a5b8a_7872e548c82642ba92035f894fd2cbfb~mv2.jpg/v1/fill/w_178,h_170,al_c,q_80,usm_0.66_1.00_0.01/6.webp" alt="6.jpg" style="width: 178px; height: 170px; object-fit: cover; object-position: 50% 50%;"></p>
          <p class="text-success" id="home-about">- Trening z psami oraz porady behawioralne na terenie Trójmiasta. </p>
          <p class="text-success" id="home-about">- Zajęcia grupowe. </p>
          <p class="text-success" id="home-about">- Ciekawe oraz pomocne artykuły o psach. </p>
          </p>
        </div>   
      </div> 
      <br /><br />
             <div class="row justify-content-center">
               <div class="col-8">
                    <h1 class="display-4">Co nieco o mnie</h1> <br />
                    <p class="text-muted" id="home-about">
                    Od dziecka pasjonuje mnie świat psów. Nigdy nie mogłam mieć swojego pupila więc swoją przygodę rozpoczęłam od wyprowadzania psów sąsiadów oraz zajmowania się nimi. W między czasie edukowałam się czytając multum książek oraz oglądając przeróżne programy. Z czasem stałam się Psią Nianią i połączyłam przyjemne z pożytecznym. Przez trzy lata mieszkałam w Anglii i tam wyprowadzałam psy ze schroniska. Było to cudowne doświadczenie jakiego nigdy nie zapomnę. Aktualnie zajmuje się trenowaniem psiaków oraz behawiorystką. Pomagam ludziom zrozumieć ich psy, zyskać pewność siebie oraz pokazuje jak z nimi współpracować. Psy to całe moje życie i uwielbiam je szkolić oraz poznawać ciekawych ludzi. </p>
              </div>
            </div>
            <br /><br />
              <div class="row justify-content-center">
               <div class="col-8">
                    <h1 class="display-4">Usługi</h1> <br />
                          <div class="row">
                            <div class="col">
                              <div class="card" style="width: 26rem;">
                                <div class="card-body">
                                  <h3 class="card-title" id="home-card-title">KONSULTACJE BEHAWIORALNE</h3>
                                  <p class="card-text" id="home-uslugi">Podczas godzinnego spotkania zapoznaje się z problemem Twojego pieska. Obserwuję zarówno jego zachowanie, jak i Twoje oraz analizuje popełniane błędy. Następnie tłumaczę oraz pokazuję jak ćwiczyć z psem, aby wyeliminować dany problem. Dodatkowo oferuję pomoce naukowe oraz stały kontakt ze mną..</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card" style="width: 26rem;">
                                <div class="card-body">
                                  <h3 class="card-title" id="home-card-title">KONSULTACJE ON-LINE</h3>
                                  <p class="card-text" id="home-uslugi">Jeżeli w okolicy Twojego zamieszkania nie ma behawiorysty, to chętnie pomogę Ci na odległość, oczywiście w miarę możliwości. Konsultacje polegają na stałym kontakcie, rozmowie telefonicznej lub na Skype. Wystarczy, że w mailu wyślesz mi filmik z udziałem swojego psa, pokazując oraz opisując jego problem.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card" style="width: 26rem;">
                                <div class="card-body">
                                  <h3 class="card-title" id="home-card-title">SPOTKANIA GRUPOWE</h3>
                                  <p class="card-text" id="home-uslugi">Na zajęciach spotykamy się zarówno ze szczeniakami, jak i starszymi psami. Uczymy ich nie tylko podstawowych komend, ale również socjalizacji oraz radzenia sobie w życiu codziennym.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>

              <div class="row justify-content-center">
                         <div class="col-12"><br /> <br /> 
                          <h1 class="display-4">ZADOWOLENI KLIENCI</h1> <br />
                          <div class="row">
                            <div class="col">
                              <img src="https://static.wixstatic.com/media/1a5b8a_ba35a95991e54ad1afcd5eed82d39cbe~mv2_d_1511_2015_s_2.jpg/v1/fill/w_595,h_794,al_c,q_85,usm_0.66_1.00_0.01/30167181_583487598681135_608079252483447.webp" alt="30167181_583487598681135_608079252483447" style="width:250px;height:175px;object-fit:cover;object-position:50% 50%">
                            </div>
                            <div class="col">
                              <img src="https://static.wixstatic.com/media/1a5b8a_ba35a95991e54ad1afcd5eed82d39cbe~mv2_d_1511_2015_s_2.jpg/v1/fill/w_595,h_794,al_c,q_85,usm_0.66_1.00_0.01/30167181_583487598681135_608079252483447.webp" alt="30167181_583487598681135_608079252483447" style="width:250px;height:175px;object-fit:cover;object-position:50% 50%">
                            </div>
                            <div class="col">
                              <img src="https://static.wixstatic.com/media/1a5b8a_ba35a95991e54ad1afcd5eed82d39cbe~mv2_d_1511_2015_s_2.jpg/v1/fill/w_595,h_794,al_c,q_85,usm_0.66_1.00_0.01/30167181_583487598681135_608079252483447.webp" alt="30167181_583487598681135_608079252483447" style="width:250px;height:175px;object-fit:cover;object-position:50% 50%">
                            </div>
                            <div class="col">
                              <img src="https://static.wixstatic.com/media/1a5b8a_ba35a95991e54ad1afcd5eed82d39cbe~mv2_d_1511_2015_s_2.jpg/v1/fill/w_595,h_794,al_c,q_85,usm_0.66_1.00_0.01/30167181_583487598681135_608079252483447.webp" alt="30167181_583487598681135_608079252483447" style="width:250px;height:175px;object-fit:cover;object-position:50% 50%">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
<br /> <br /> <br /> <br /> 
              </div>
            </div>
    </div>
  </div>
</div>
