<div class="container" id="home-container">
  <div class="text-center text-black">
    <div class="container">
              <div class="row justify-content-center">
               <div class="col-12">
                    <h1 class="display-4">Usługi</h1> <br />
                          <div class="row">
                            <div class="col">
                                  <h3 class="card-title" id="home-card-title">KONSULTACJE BEHAWIORALNE</h3>
                                  <p class="card-text" id="home-uslugi">Podczas godzinnego spotkania zapoznaje się z problemem Twojego pieska. Obserwuję zarówno jego zachowanie, jak i Twoje oraz analizuje popełniane błędy. Następnie tłumaczę oraz pokazuję jak ćwiczyć z psem, aby wyeliminować dany problem. Dodatkowo oferuję pomoce naukowe oraz stały kontakt ze mną..</p>
                            </div>
                            <div class="col">
                                  <h3 class="card-title" id="home-card-title">KONSULTACJE ON-LINE</h3>
                                  <p class="card-text" id="home-uslugi">Jeżeli w okolicy Twojego zamieszkania nie ma behawiorysty, to chętnie pomogę Ci na odległość, oczywiście w miarę możliwości. Konsultacje polegają na stałym kontakcie, rozmowie telefonicznej lub na Skype. Wystarczy, że w mailu wyślesz mi filmik z udziałem swojego psa, pokazując oraz opisując jego problem.</p>
                            </div>
                            <div class="col">
                                  <h3 class="card-title" id="home-card-title">SPOTKANIA GRUPOWE</h3>
                                  <p class="card-text" id="home-uslugi">Na zajęciach spotykamy się zarówno ze szczeniakami, jak i starszymi psami. Uczymy ich nie tylko podstawowych komend, ale również socjalizacji oraz radzenia sobie w życiu codziennym.</p>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>